{% extends "layout.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    form {
        background-color: white;
        border-radius: 5%;
        padding: 2rem;
        font-weight: 700;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin: 0 auto;
        width: 400px; /* Increased width for the form */
    }

    form input,
    form select,
    form textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border: none;
        padding: 1em;
    }

    form button {
        display: block;
        width: 100%;
        padding: 15px;
        font-size: 16px;
        background-color: rgb(255, 0, 0); /* Red */
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in;
    }
    
    form button:hover {
        background-color: rgb(220, 20, 60); /* Lighter shade of red on hover */
    }
    

    form .errorlist li {
        list-style-type: none;
        color: rgb(216, 6, 114);
    }

    @media screen and (max-width: 600px) {
        form {
            width: 90%; /* Maintain responsiveness */
        }
    }
</style>

<section class="hero-section d-flex justify-content-center align-items-center" style="background-color: #111; min-height: 100vh;">
    <div class="container" style="width: 80%; max-width: 500px;"> 
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-container p-4">
                    <h2 class="text-center mb-4 text-white font-weight-bold">Login</h2>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Login</button>
                        <div class="text-center mt-3">
                            <a href="{% url 'password_reset' %}" class="text-primary">Lost Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
